<mat-tab-group class="database">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">person</mat-icon>
            UTENTI
        </ng-template>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceUtente">

                <!-- AGGIUNGI UTENTE -->


                <!-- ADD Utente Column -->
                <ng-container matColumnDef="add.utente">
                    <th mat-header-cell *matHeaderCellDef> AGGIUNGI </th>
                    <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Registra Utente"
                            matTooltipPosition="left" type="button" (click)="attivaForm()"><mat-icon>{{element.add}}
                            </mat-icon></button>
                    </td>
                </ng-container>

                <!-- Modifica Utente Column -->
                <ng-container matColumnDef="update.utente">
                    <th mat-header-cell *matHeaderCellDef> MODIFICA </th>
                    <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Modifica Utente"
                            matTooltipPosition="left" type="button"><mat-icon>{{element.update}} </mat-icon></button>
                    </td>
                </ng-container>

                <!-- Cancella Utente Column -->
                <ng-container matColumnDef="delete.utente">
                    <th mat-header-cell *matHeaderCellDef> CANCELLA </th>
                    <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Cancella Utente"
                            matTooltipPosition="left" type="button"
                            (click)="onDeleteUtente(element.idUserAuth)"><mat-icon>{{element.delete}}
                            </mat-icon></button>
                    </td>
                </ng-container>

                <!-- ID Utente Column -->
                <ng-container matColumnDef="idUserAuth">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element"> {{element.idUserAuth}} </td>
                </ng-container>

                <!-- Nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                </ng-container>

                <!-- Cognome Column -->
                <ng-container matColumnDef="cognome">
                    <th mat-header-cell *matHeaderCellDef> Cognome </th>
                    <td mat-cell *matCellDef="let element"> {{element.cognome}} </td>
                </ng-container>

                <!-- Stato Column -->
                <ng-container matColumnDef="idUserStatus">
                    <th mat-header-cell *matHeaderCellDef> Stato </th>
                    <td mat-cell *matCellDef="let element"> {{element.idUserStatus}} </td>
                </ng-container>

                <!-- Lingua Column -->
                <ng-container matColumnDef="idLingua">
                    <th mat-header-cell *matHeaderCellDef> Lingua</th>
                    <td mat-cell *matCellDef="let element"> {{element.idLingua}} </td>
                </ng-container>

                <!-- Data di nascita Column -->
                <ng-container matColumnDef="dataNascita">
                    <th mat-header-cell *matHeaderCellDef> Data di nascita</th>
                    <td mat-cell *matCellDef="let element"> {{element.dataNascita}} </td>
                </ng-container>

                <!-- Sesso Column -->
                <ng-container matColumnDef="sesso">
                    <th mat-header-cell *matHeaderCellDef> Sesso </th>
                    <td mat-cell *matCellDef="let element"> {{element.sesso}} </td>
                </ng-container>

                <!-- Codice Fiscale Column -->
                <ng-container matColumnDef="codiceFiscale">
                    <th mat-header-cell *matHeaderCellDef> Codice Fiscale </th>
                    <td mat-cell *matCellDef="let element"> {{element.codiceFiscale}} </td>
                </ng-container>

                <!-- Nazione Column -->
                <ng-container matColumnDef="idNazione">
                    <th mat-header-cell *matHeaderCellDef> Nazione</th>
                    <td mat-cell *matCellDef="let element"> {{element.idNazione}} </td>
                </ng-container>

                <!-- Comune Column -->
                <ng-container matColumnDef="idComune">
                    <th mat-header-cell *matHeaderCellDef> Comune</th>
                    <td mat-cell *matCellDef="let element"> {{element.idComune}} </td>
                </ng-container>

                <!-- Accetta Termini e Condizioni Column -->
                <ng-container matColumnDef="accettaTermini">
                    <th mat-header-cell *matHeaderCellDef> Termini</th>
                    <td mat-cell *matCellDef="let element"> {{element.accettaTermini}} </td>
                </ng-container>

                <!-- User Mail Column -->
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef> User Mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>

                <!-- Password Column -->
                <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef> Password </th>
                    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsUtenti"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsUtenti;"></tr>
            </table>

            <mat-paginator #paginatorUtente [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">category</mat-icon>
            CATEGORIE
        </ng-template>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceCategory">

                <!-- idCategory Column -->
                <ng-container matColumnDef="idCategory">
                    <th mat-header-cell *matHeaderCellDef> ID.Cat </th>
                    <td mat-cell *matCellDef="let element"> {{element.idCategory}} </td>
                </ng-container>

                <!-- Nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                </ng-container>

                <!-- idFile Column -->
                <ng-container matColumnDef="idFile">
                    <th mat-header-cell *matHeaderCellDef> ID.File </th>
                    <td mat-cell *matCellDef="let element"> {{element.idFile}} </td>
                </ng-container>

                <!-- src Column -->
                <ng-container matColumnDef="src">
                    <th mat-header-cell *matHeaderCellDef> src </th>
                    <td mat-cell *matCellDef="let element"> {{element.src}} </td>
                </ng-container>

                <!-- alt Column -->
                <ng-container matColumnDef="alt">
                    <th mat-header-cell *matHeaderCellDef> alt</th>
                    <td mat-cell *matCellDef="let element"> {{element.alt}} </td>
                </ng-container>

                <!-- title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> title</th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <!-- icona Column -->
                <ng-container matColumnDef="icona">
                    <th mat-header-cell *matHeaderCellDef> icona </th>
                    <td mat-cell *matCellDef="let element"> {{element.icona}} </td>
                </ng-container>

                <!-- watch Column -->
                <ng-container matColumnDef="watch">
                    <th mat-header-cell *matHeaderCellDef> watch </th>
                    <td mat-cell *matCellDef="let element"> {{element.watch}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCategory"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCategory;"></tr>
            </table>

            <mat-paginator #paginatorCategory [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">movie</mat-icon>
            FILM
        </ng-template>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceFilm">

                <!-- idFilm Column -->
                <ng-container matColumnDef="idFilm">
                    <th mat-header-cell *matHeaderCellDef> ID.Film </th>
                    <td mat-cell *matCellDef="let element"> {{element.idFilm}} </td>
                </ng-container>

                <!-- titolo Column -->
                <ng-container matColumnDef="titolo">
                    <th mat-header-cell *matHeaderCellDef> Titolo </th>
                    <td mat-cell *matCellDef="let element"> {{element.titolo}} </td>
                </ng-container>

                <!-- descrizione Column -->
                <ng-container matColumnDef="descrizione">
                    <th mat-header-cell *matHeaderCellDef> Descrizione </th>
                    <td mat-cell *matCellDef="let element" class="truncate"> {{element.descrizione}} </td>
                </ng-container>

                <!-- durata Column -->
                <ng-container matColumnDef="durata">
                    <th mat-header-cell *matHeaderCellDef> Durata </th>
                    <td mat-cell *matCellDef="let element"> {{element.durata}} </td>
                </ng-container>

                <!-- regista Column -->
                <ng-container matColumnDef="regista">
                    <th mat-header-cell *matHeaderCellDef> Regista</th>
                    <td mat-cell *matCellDef="let element"> {{element.regista}} </td>
                </ng-container>

                <!-- attori Column -->
                <ng-container matColumnDef="attori">
                    <th mat-header-cell *matHeaderCellDef> Attori</th>
                    <td mat-cell *matCellDef="let element" class="truncate"> {{element.attori}} </td>
                </ng-container>

                <!-- icona Column -->
                <ng-container matColumnDef="icona">
                    <th mat-header-cell *matHeaderCellDef> Icona </th>
                    <td mat-cell *matCellDef="let element"> {{element.icona}} </td>
                </ng-container>

                <!-- anno Column -->
                <ng-container matColumnDef="anno">
                    <th mat-header-cell *matHeaderCellDef> Anno </th>
                    <td mat-cell *matCellDef="let element" class="truncate"> {{element.anno}} </td>
                </ng-container>

                <!-- watch Column -->
                <ng-container matColumnDef="watch">
                    <th mat-header-cell *matHeaderCellDef> Watch </th>
                    <td mat-cell *matCellDef="let element"> {{element.watch}} </td>
                </ng-container>


                <!-- Colonne per i dati di File 1 -->
                <ng-container matColumnDef="idFile1">
                    <th mat-header-cell *matHeaderCellDef>ID.File.1</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[0].idFile }}</td>
                </ng-container>

                <ng-container matColumnDef="idTipoFile1">
                    <th mat-header-cell *matHeaderCellDef>ID.TipoFile.1</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[0].idTipoFile }}</td>
                </ng-container>

                <ng-container matColumnDef="src1">
                    <th mat-header-cell *matHeaderCellDef>SRC.1</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[0].src }}</td>
                </ng-container>

                <ng-container matColumnDef="alt1">
                    <th mat-header-cell *matHeaderCellDef>ALT.1</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[0].alt }}</td>
                </ng-container>

                <ng-container matColumnDef="title1">
                    <th mat-header-cell *matHeaderCellDef>TITLE.1</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[0].title }}</td>
                </ng-container>

                <!-- Colonne per i dati di File 2 -->
                <ng-container matColumnDef="idFile2">
                    <th mat-header-cell *matHeaderCellDef>ID.File.2</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[1].idFile }}</td>
                </ng-container>

                <ng-container matColumnDef="idTipoFile2">
                    <th mat-header-cell *matHeaderCellDef>ID.TipoFile.2</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[1].idTipoFile }}</td>
                </ng-container>

                <ng-container matColumnDef="src2">
                    <th mat-header-cell *matHeaderCellDef>SRC.2</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[1].src }}</td>
                </ng-container>

                <ng-container matColumnDef="alt2">
                    <th mat-header-cell *matHeaderCellDef>ALT.2</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[1].alt }}</td>
                </ng-container>

                <ng-container matColumnDef="title2">
                    <th mat-header-cell *matHeaderCellDef>TITLE.2</th>
                    <td mat-cell *matCellDef="let element">{{ element.file[1].title }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsFilm"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsFilm;"></tr>
            </table>

            <mat-paginator #paginatorFilm [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-tab>
</mat-tab-group>