body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-image: url('../assets/img/imgBackground/lens-490806_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // overflow-x: hidden;
}

main {
    flex: 1;
    padding: 10px;
}

// * {
//     background-color: black;
//     color: white; /* Opzionale - impostare il colore del testo su bianco per una migliore leggibilità */
// }
