<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)" title="Vai alla Home" [routerLink]="['/']">Logo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="Vai alla Chi siamo"
                        [routerLink]="['/chisiamo']" [routerLinkActive]="['attivo']">Chi siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="Vai alla Categorie"
                        [routerLink]="['/categorie']" [routerLinkActive]="['attivo']">Categoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="Vai alla Tipologie"
                        [routerLink]="['/tipologie']" [routerLinkActive]="['attivo']">Tipologie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="Vai alla Contatti" [routerLink]="['/contatti']"
                        [routerLinkActive]="['attivo']">Contatti</a>
                </li>
            </ul>

        </div>
    </div>
</nav>