.attivo {
    color: white;
    border-bottom: 1px solid white;
}

.navbar {
    .nav-link {
        color: white;

        &:hover {
            color: rgb(236, 144, 23);
        }
    }
}

.saluto {
    text-align: center;
    color: white;
}