.attivo {
    color: white;
    border-bottom: 1px solid white;
}

.navbar {
    .nav-link {
        color: white;

        &:hover {
            color: orange;
        }
    }
}


.saluto {
    text-align: center;
    color: white;
}