<ng-container *ngIf="(auth | async)?.token!==null">
    <div class="col-12 text-center benvenuto">
        Benvenuto nel tuo Account {{ (auth | async)?.nome }}
        <br> <br>
        <app-modal></app-modal>
    </div>
</ng-container>
<ng-container *ngIf="(auth | async)?.token===null">
    <div class="col-12 text-center benvenuto">
        Benvenuto!! Entra nel tuo account o registrati
        <br> <br>
        <app-modal></app-modal>
    </div>
</ng-container>
<br>
<!-- <div>Sto controllando? {{ stoControllando | json}}</div> -->
<!-- <ng-container *ngIf="(auth | async)?.token!==null">
    <button mat-fab extended color="primary">
        <mat-icon>favorite</mat-icon>
        Primary
    </button>

</ng-container> -->

<ng-container *ngIf="(auth | async)?.token!==null">
    <app-database></app-database>
</ng-container>

<ng-container>
    <!-- <app-upload-img></app-upload-img> -->
</ng-container>