<p align="end">
  <button *ngIf="(auth | async)?.token === null && isRegistrationActive" mat-icon-button matTooltip="Login"
    matTooltipPosition="left" type="button" (click)="disattivaRegistrazione()"><mat-icon>home</mat-icon></button>
  <button mat-icon-button matTooltip="Esci" matTooltipPosition="below" mat-dialog-close
    type="button"><mat-icon>clear</mat-icon></button>
</p>
<h2 mat-dialog-title class="text-center">Benvenuto in Developpo Ondemand</h2>
<!-- MESSAGGIO DI REGISTRAZIONE  -->
<p *ngIf="isRegistrationComplete && (auth | async)?.token === null" mat-dialog-title class="text-center text-danger">
  Ciao la tua registrazione è andata a buon fine<br> torna al Login per accedere alla navigazione
</p>
<mat-dialog-content class="mat-typography">
  <!-- LOGIN FORM -->
  <p align="center">
    <!-- <mat-spinner *ngIf="stoControllando"></mat-spinner> -->
    <mat-progress-bar *ngIf="stoControllando" mode="indeterminate"></mat-progress-bar>
  </p>
  <h3 *ngIf="(auth | async)?.token === null && !isRegistrationActive" align="center">LOGIN</h3>
  <ng-container>
    <form *ngIf="!isRegistrationActive" [formGroup]="loginForm" (ngSubmit)="accedi()" align="center">
      <mat-form-field *ngIf="(auth | async)?.token === null" color="primary" appearance="outline">
        <!-- USER -->
        <mat-label color="primary">USER</mat-label>
        <input matInput type="text" placeholder="Inserisci la tua Mail" name="utente" id="utente"
          formControlName="utente">
        <mat-icon matSuffix>account_circle</mat-icon>
        <!-- <mat-hint>Inserisci la mail con cui ti sei registrato</mat-hint> -->
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="(auth | async)?.token === null" color="primary" appearance="outline">
        <!-- PASSWORD -->
        <mat-label color="primary">PASSWORD</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Inserisci la tua password" name="password"
          id="password" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>
      <!-- BUTTON ACCEDI - REGISTRATI  -->
      <!-- ACCEDI  -->
      <button *ngIf="(auth | async)?.token === null" mat-button type="submit"
        [disabled]="!loginForm.valid">Accedi</button>
      <!-- REGISTRATI  -->
      <button mat-button *ngIf="(auth | async)?.token === null && !isRegistrationActive" type="button"
        (click)="attivaRegistrazione()">
        Registrati
      </button>
      <p *ngIf="mostraMessaggioErrore && (auth | async)?.token === null" class="text-danger"><br>Login non
        riuscito.<br><br> Controlla le tue credenziali o crea<br> il tuo account cliccando su registrati.</p>
    </form>
  </ng-container>
  <!-- REGISTRATION FORM -->
  <h3 *ngIf="isRegistrationActive" align="center">REGISTRAZIONE UTENTE</h3>
  <ng-container>
    <form *ngIf="isRegistrationActive" [formGroup]="registrationForm" (ngSubmit)="registra()" align="center">
      <p>
        <!-- USER -->
        <!-- {{f['user'].errors | json}} -->
        <mat-form-field color="primary" appearance="fill">
          <mat-label for="user">USER</mat-label>
          <input matInput type="text" name="user" id="user" title="inserisci la tua email" formControlName="user"
            placeholder="Inserisci la tua mail">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-hint>Usa la tua mail come User</mat-hint>
        </mat-form-field>
        <!-- PASSWORD -->
        <!-- {{f['passwordSave'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="passwordSave">Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Inserisci la Password" name="passwordSave"
            id="passwordSave" title="inserisci la tua password" formControlName="passwordSave">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint *ngIf="registrationForm.hasError('customPasswwordNotTheSameError', 'confirmPasswordSave')">Controlla
            la Password</mat-hint>
          <mat-hint *ngIf="!registrationForm.hasError('customPasswwordNotTheSameError', 'confirmPasswordSave')">Password
            OK!!!</mat-hint>
        </mat-form-field>
        <!-- PASSWORD CONFERMATA -->
        <!-- {{f['confirmPasswordSave'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="confirmPasswordSave">Conferma la
            password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Conferma la tua password"
            name="confirmPasswordSave" id="confirmPasswordSave" title="conferma la tua password"
            formControlName="confirmPasswordSave">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint *ngIf="registrationForm.hasError('customPasswwordNotTheSameError', 'confirmPasswordSave')">Controlla
            la Password</mat-hint>
          <mat-hint *ngIf="!registrationForm.hasError('customPasswwordNotTheSameError', 'confirmPasswordSave')">Password
            OK!!!</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <!-- NOME -->
        <!-- {{f['nome'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="nome">Nome</mat-label>
          <input type="text" matInput placeholder="Inserisci il tuo nome" name="nome" id="nome"
            title="inserisci il tuo nome" formControlName="nome">
        </mat-form-field>
        <!-- COGNOME -->
        <!-- {{f['cognome'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="cognome">Cognome</mat-label>
          <input type="text" matInput placeholder="Inserisci la tuo cognome" name="cognome" id="cognome"
            formControlName="cognome">
        </mat-form-field>
        <!-- LINGUA  -->
        <!-- {{f['idLingua'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="idLingua">Lingua
            preferita</mat-label>
          <ng-container *ngIf="datiLingua.length>=1">
            <mat-select name="idLingua" id="idLingua" title="inserisci la tua lingua preferita"
              formControlName="idLingua">
              <mat-option *ngFor="let valori of datiLingua" [value]="valori.idLingua">
                {{valori.nome}}
              </mat-option>
            </mat-select>
          </ng-container>
          <ng-container *ngIf="datiLingua.length<1">
            <mat-spinner></mat-spinner>
          </ng-container>
        </mat-form-field>
      </p>
      <p>
        <!-- SESSO -->
        <!-- {{f['sesso'].errors | json}} -->
        <!-- [ngClass]="{'is-invalid': registrationForm.controls['sesso'].errors}" -->
        <mat-radio-group color="primary" aria-label="Select an option" formControlName="sesso">
          <mat-label for="sesso">Sesso</mat-label>
          <mat-radio-button value="0">Uomo</mat-radio-button>
          <mat-radio-button value="1">Donna</mat-radio-button>
        </mat-radio-group>
      </p>
      <p>
        <!-- DATA DI NASCITA  -->
        <!-- {{f['dataNascita'].valid | json}} -->
        <mat-form-field color="primary">
          <mat-label>Data di nascita</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Mese/Giorno/Anno" formControlName="dataNascita">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- CODICE FISCALE  -->
        <!-- {{f['codiceFiscale'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for=" codiceFiscale">Codice Fiscale</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input type="text" matInput placeholder="Codice Fiscale" id="codiceFiscale" name="codiceFiscale"
            title="inserisci il tuo codice fiscale" formControlName="codiceFiscale">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <!-- INDIRIZZO  -->
        <!-- {{f['indirizzo'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="indirizzo">Indirizzo</mat-label>
          <input type="text" matInput placeholder="Indirizzo di Residenza" id="indirizzo" formControlName="indirizzo">
          <mat-icon matSuffix>home</mat-icon>
          <mat-hint>Scrivi indirizzo e numero civico</mat-hint>
        </mat-form-field>
        <!-- TELEFONO  -->
        <!-- {{f['recapito'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="recapito">Telefono</mat-label>
          <span matPrefix>+39 &nbsp;</span>
          <input type="tel" matInput placeholder="il tuo cellulare" formControlName="recapito">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Usa solo caretteri numerici</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <!-- CITTA  -->
        <!-- {{f['idComune'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="citta">Città</mat-label>
          <ng-container *ngIf="datiComune.length>=1">
            <mat-select id="citta" formControlName="idComune">
              <mat-option *ngFor="let valori of datiComune" [value]="valori.idComune">
                {{valori.comune}}
              </mat-option>
            </mat-select>
          </ng-container>
          <ng-container *ngIf="datiComune.length<1">
            <mat-spinner></mat-spinner>
          </ng-container>
        </mat-form-field>
        <!-- {{f['idNazione'].errors | json}} -->
        <!-- NAZIONE  --><mat-form-field color="primary">
          <mat-label for="nazione">Nazione</mat-label>
          <ng-container *ngIf="datiNazione.length>=1">
            <mat-select id="nazione" formControlName="idNazione">
              <mat-option *ngFor="let valori of datiNazione" [value]="valori.idNazione">
                {{valori.nome}}
              </mat-option>
            </mat-select>
          </ng-container>
          <ng-container *ngIf="datiNazione.length<1">
            <mat-spinner></mat-spinner>
          </ng-container>
        </mat-form-field>
        <!-- CAP  -->
        <!-- {{f['cap'].errors | json}} -->
        <mat-form-field color="primary">
          <mat-label for="cap">Cap</mat-label>
          <input type="text" matInput #postalCode maxlength="5" placeholder="Codice postale" id="cap"
            formControlName="cap">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <!-- ACCETTO TERMINI E CONDIZIONI  -->
        <!-- {{f['accettaTermini'].errors | json}} -->
        <!-- <mat-checkbox [(ngModel)]="isChecked" color="primary" ngModel type="checkbox" name="accettaTermini"
          id="accettaTermini" title="accetta termini e condizioni" formControlName="accettaTermini">Accetta Termini e
          Condizioni</mat-checkbox> -->
        <mat-checkbox color="primary" type="checkbox" name="accettaTermini" id="accettaTermini"
          title="accetta termini e condizioni" formControlName="accettaTermini">Accetta Termini e
          Condizioni</mat-checkbox>
      </p>
      <!-- BUTTON REGISTRA - TORNA AL LOGIN -->
      <!-- REGISTRA  -->
      <!-- [disabled]="!registrationForm.valid" da capire perchè non funziona il disabled sul tasto registra -->
      <!-- {{ registrationForm.valid | json}} -->
      <button mat-button *ngIf="(auth | async)?.token === null && isRegistrationActive" type="submit">Registra</button>
      <!-- TORNA AL LOGIN  -->
      <button mat-button *ngIf="(auth | async)?.token === null && isRegistrationActive" type="button"
        (click)="disattivaRegistrazione()">
        Torna al Login
      </button>
    </form>
  </ng-container>
  <ng-container *ngIf="(auth | async)?.token !== null">
    <!-- MESSAGGIO DI LOGIN  -->
    <p mat-dialog-title class="text-center">
      Ciao <strong>{{ (auth | async)?.nome }}</strong> hai effettuato<br> correttamente il tuo Login naviga pure<br> sul
      nostro sito e buona visione
    </p>
    <!-- BUTTON LOGOUT  -->
    <p align="center">
      <button *ngIf="(auth | async)?.token !== null" mat-stroked-button color="warn"
        (click)="esci()">Logout<mat-icon>verified_user</mat-icon></button>
    </p>
  </ng-container>
</mat-dialog-content>
<!-- PULSANTI -->
<mat-dialog-actions align="end">

</mat-dialog-actions>